# Önbellek Dosyaları
__pycache__/ 
*.py[cod]

# Veritabanı Dosyaları 
astreoid_risk_anaylzed.db 
astronomy_vis_arch.db 
mars_insight_sol_data.db  

# Model Dosyaları 
*.pkl

# Jupyter Notebook Yedekleri
.ipynb_checkpoints/